body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
#newsheader {
    font-size: 30px;
}
.applybutton {
    margin: 20px auto;
    border-radius: 5px;
    transition: 200ms;
    display: block;
    text-align: center;
    color: white;
    font-size: 23px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    opacity: 0.8;
    transition: 200ms;
}
.applybutton:hover {
    opacity: 1;
}
#staff {
    font-size: 20px;
}
#error {
    margin: 10px;
}
#proceed {
    outline: none;
    background-color: #e31c26;
    border-radius: 5px;
    border: none;
    width: 20%;
    height: 5%;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    transition: 200ms;
    margin-bottom: 20px;
}
#proceed:hover {
    background-color: #c0161e;
    cursor: pointer;
}