body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
#newsheader {
    padding: 16px;
    margin-top: 15px;
    font-size: 27px;
}
.innerarticle {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    text-align: justify;
}
#emaillink {
    text-decoration: none;
    color: #e31c25;
}