body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
#newsheader {
    font-size: 30px;
}
.applybutton {
    background-color: #e31c26;
    padding: 20px;
    margin: 20px auto;
    border-radius: 5px;
    transition: 200ms;
    display: block;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 23px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
}
.applybutton:hover {
    background-color: #8d1218;
}
#staff {
    font-size: 20px;
}
@media (max-width: 1000px) {
    .articlebox {
        width: 95%;
    }
}
@media (max-width: 900px) {
    .applybutton {
        width: 90%;
    }
}

