body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 85%;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container {
    padding: 0;
    margin: 0;
    position: relative;
}
.leftbox {
    display: inline-block;
    width: 60%;
    border-radius: 5px;
}
.rightbox {
    display: inline-block;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    vertical-align: top;
}
.newsheader {
    padding: 16px;
    margin-top: 15px;
    font-size: 27px;
}
.row {
    display: block;
    margin: auto 0;
}
.column {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.paypalsmartbuttons {
    padding: 10px;
    padding-top: 20px;
}
.ordertable {
    margin: 0 auto;
    color: white;
    font-family: 'Lato', sans-serif;
    text-emphasis: thin;
    text-decoration: none;
}
.ordertable th {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}
@media (max-width: 900px) {
    .leftbox {display: block; width: 100%;}
    .rightbox {display: block; width: 70%; margin: 0 auto;}
}
@media (max-width: 750px) {
    .ordertable th {
        padding-left: 10px;
        padding-right: 10px;
    }
}