body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.innerarticle {
    width: calc(50% - 70px);
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    padding: 30px;
}
#twitterfollowbutton {
    width: 200px;
    height: auto;
    opacity: 0.85;
    transition: 100ms;
}
#twitterfollowbutton:hover {
    opacity: 1;
}
.newsheader {
    padding: 16px;
    margin-top: 5px;
    font-size: 30px;
}
.articletitle {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.articletitlemini {
    color: #e31c25;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 16px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: 300ms;
}
.container:hover .overlay {
    opacity: 1;
}
.gameimage {
    border-radius: 5px;
    width: 100%;
}
#gameimage {
    width: 49%;
    display: inline-block;
}
.twitchembed {
    height: 100%;
    width: 100%;
}
.articledescrip {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.mainarticle {
    margin: 0 auto;
    padding: 15%;
}
#mercharticle {
    background-image: url('../backdrops/apply.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
}
.mainarticletitle {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 65px;
}
.mainarticletitlemini {
    color: #e31c25;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.applybutton {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-color: #e31c25;
    border-radius: 7px;
    display: block;
    width: 10%;
    text-align: center;
    transition: 200ms;
    text-decoration: none;
}
.applybutton:hover {
    background-color: #a1141b;
}
.shopbutton {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background-color: #3131317c;
    border-radius: 7px;
    display: block;
    width: 10%;
    text-align: center;
    transition: 200ms;
    text-decoration: none;
}
.shopbutton:hover {
    background-color: #505050;
}
.youtubeembed {
    display: block;
    width: 100%;
    margin: 30px;
}

/* Reactive Elements */
@media (max-width: 1400px) {
    #gameimage {
        width: 100%;
        display: block;
        margin-top: 10px;
    }
    .youtubeembed {
        display: none;
    }
}
@media (max-width: 1100px) {
    #twitchArticle {
        display: none;
    }
    #subscribe {
        display: none;
    }
    #teams {
        margin-bottom: 40px;
    }
    .applybutton {
        width: 70%;
    }
    .shopbutton {
        width: 70%;
    }
}
@media (max-width: 730px) {
    #twitterTimeline {
        display: none;
    }
}
@media (max-width: 725px) {
    .innerarticle {
        padding: 10px;
        width: 90%;
    }
    #twitterfollowbutton {
        display: none;
    }
    .mainarticletitle {
        font-size: 40px;
    }
    .mainarticletitlemini {
        font-size: 20px;
    }
}
@media (max-width: 525px) {
}
@media (max-width: 465px) {
    .articletitle {
        font-size: 25px;
    }
}
@media (max-width: 360px) {
    .articletitle {
        font-size: 20px;
    }
}