html {
    -ms-overflow-style: none; 
    overflow: -moz-scrollbars-none;
}
html::-webkit-scrollbar {
    display: none;
}
body {
    margin: 0px 0px; 
    background-color: rgb(37, 37, 37); 
    overflow-y: scroll;
}
.navbar {
    font-family: 'Bebas Neue', cursive; 
    background-color: #272727; 
    margin: 0px 0px; border: 0; 
    padding: 0px 0px; 
    width: 100%; 
    position: sticky;
}
.nav-link {
    font-size: 20px;
    text-decoration: none;color: rgb(255, 255, 255);padding: 16px 0px;margin: 0px 20px;display: inline-block;position: inherit;opacity: 0.9;}
.nav-link:hover {opacity: 1;}
.nav-link::before {transition: 300ms;height: 5px;content: "";position: absolute;background-color: rgb(255, 255, 255);}
.nav-link-ltr::before {width: 0%;bottom: 10px;}
.nav-link-ltr:hover::before {width: 100%;}
.nav-logo{vertical-align: middle; padding: 15px 15px; padding-right: 10px;}
.container {position: relative;text-align: center;}
.shoplink-img-container {position: absolute;bottom: 20px;left: 20px; opacity: 0.7; transition: 300ms; color: rgba(68, 68, 68, 0.7);}
.shoplink-img-container:hover {color: rgba(68, 68, 68, 1);}
.bottomnavbar{overflow: hidden;background-color: rgb(77, 77, 77); position: static; bottom: 0; width: 100%;}
.bottomnavbar-content{font-family: 'Roboto', cursive; color: white; text-align: center; text-decoration: none; float: left; padding: 20px 10px; font-size: 10px;}
.fa {padding: 10px; padding-top: 12px; font-size: 20px;width: 15px;text-align: center;text-decoration: none;margin: 5px 5px ;border-radius: 50%;float: right; vertical-align: middle; opacity: 0.7;}
.fa:hover {opacity: 1;}
.fa-twitter {color: #55ACEE;}
.youtube {opacity: 0.8; float: right;margin: 5px 5px; margin-top: 10px; padding: 10px;}
.youtube:hover {opacity: 1;}
.fa-instagram {color: #FCAF45;}
.discord {opacity: 0.8; float: right;margin: 5px 5px; margin-top: 6px; padding: 10px;}
.discord:hover {opacity: 1;}
.paypal {opacity: 0.8; float: right; margin: 5px 0px; padding: 10px;}
.paypal:hover {opacity: 1;}