body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
#logo {
    padding: 15px 0px;
    width: 70%;
    opacity: 1;
    transition: 150ms ease;
}
.partner-container{
    display: inline-block;
    width: 49%;
    border-radius: 5px;
    transition: 200ms ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.partner-social {
    width: 100%;
    background-color: rgba(19, 19, 19, 0.6);
    font-size: 15px;
    transition: 400ms ease;
    text-align: right;
}
.partner-about {
    float: left;
    vertical-align: middle;
    padding: 5px 0px 0px 5px;
    transition: 200ms ease;
}
.partner-about:hover {
    color: #e31c25;
    cursor: pointer;
}
.partner-about-text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    overflow: hidden;
    transition: 500ms ease;
}
#stashxp {
    background-image: url('../sponsors/stashxp_bg.png');
}
#newsheader {
    padding: 16px;
    margin-top: 15px;
    font-size: 27px;
}
.innerarticle {
    margin: 20px auto;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    text-align: center;
}
#emaillink {
    text-decoration: none;
    color: #e31c25;
}
.fa {
    text-decoration: none;
    color: white;
    transition: 230ms ease-in-out;
    padding: 5px 7px;
}
.fa-instagram:hover {
    color: #FCAF45;
}
.fa-twitter:hover {
    color: #00acee;
}