body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(29, 29, 29),rgb(34, 0, 0));
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    vertical-align: middle;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.newsheader {
    padding: 16px;
    margin-top: 5px;
    font-size: 30px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 300ms;
}
.container:hover .overlay {
    opacity: 1;
}
.gameimage {
    border-radius: 5px;
    width: 100%;
}
#gameimage {
    width: 49%;
    display: inline-block;
}
