body {
    width: 100%;
    background-image: repeating-linear-gradient(rgb(49, 49, 49),rgb(34, 0, 0));
}
.teamnav {
    width: 100%;
    display: inline-block;
}
.articlebox {
    margin: 0 auto;
    background-color: rgb(58, 58, 58);
    background-image: url('../../backdrops/standardbackdrop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    font-size: 20px;
    width: 70%;
    margin-top: 30px;
}
.newsheader {
    padding: 16px;
    margin-top: 5px;
    font-size: 30px;
}
.container {
    margin: 0px;
    padding: 0px;
    position: relative;
}
.player {
    height: 150px;
    margin: 10px;
}
.playerimage {
    height: 100%;
    display: inline-block;
}
.playerinfo {
    display: inline;
}
.playerinfo a {
    font-size: 27px;
    padding: 10px;
    margin: 0px;
}
.player {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    font-size: 35px;
    margin-left: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
.social-logos {
    display: inline-block;
    height: 40px;
    font-size: 27px;
    margin-left: 20px;
}
#rank {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 17px;
}
#region {
    font-family: 'Lato', sans-serif;
    display: block;
    font-size: 15px;
    margin-top: 20px;
}
#regionflag {
    height: 15px;
    vertical-align: middle;
    vertical-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
@media (max-width: 800px) {
    .playerimage {
        display: none;
    }
}
/* Social Icons */
.fa {
    text-decoration: none;
    color: white;
    transition: 200ms;
    padding: 10px;
    float: inherit;
}

.fa:hover {
    color: #ff2c2c;
}