<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Scaling across all platforms-->
        <link rel='icon' type="image/png" href="../assets//PNG/favicon.png"> <!--Logo for website-->
        <link rel="stylesheet" href="../assets/css/default.css"> <!--Default CCS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        
        <script src="../assets/js/default.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163392848-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163392848-1');
        </script>
    </head>
    <body>
        <div class="socialnavbar">
            <a href="https://twitch.tv/agentggs" target="_blank" class="fa fa-twitch"></a>
            <a href="https://www.youtube.com/c/agentgamingesports" target="_blank" class="fa fa-youtube"></a>
            <a href="https://www.instagram.com/agent.ggs/" target="_blank" class="fa fa-instagram"></a>
            <a href="https://twitter.com/agentggs" target="_blank" class="fa fa-twitter"></a>
        </div>
        <nav class="navbar">
            <div class="container">
                <div class="container" id="logonavbar">
                    <a class="navlogo"><img src="../assets/PNG/logo.png" draggable="false"></a>
                </div>   
                <a class="navlink" href="https://agentgamingesports.com/">Home<p id="navdescrip">Agent Gaming</p></a>
                <a class="navlink" href="https://agentgamingesports.com/">Team<p id="navdescrip">Our Players</p></a>
                <a class="navlink" href="https://agentgamingesports.com/">Shop<p id="navdescrip">Who we are</p></a>
                <a class="navlink" href="https://agentgamingesports.com/">Sponsors<p id="navdescrip">View</p></a>
                <a class="navlink" href="https://agentgamingesports.com/">About<p id="navdescrip">Who we are</p></a>
            </div>
        </nav>
        <div id="content">
            {{ content }}
        </div>
        <div class="bottomnav">
            <div class="bottomcontent" id="contact">
                <div class="header">
                    Contact
                </div>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a> Bussiness Inquiries:<br><a href="mailto:agentgamingesports.com@gmail.com" style="color: #e31c25; font-size: 13px; margin-left: 18px; font-family: 'Roboto', sans-serif;">agentgamingesports@gmail.com</a><br><br>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a> Apply:<br><a href="mailto:agentgamingesports.com@gmail.com" style="color: #e31c25; font-size: 13px; margin-left: 18px; font-family: 'Roboto', sans-serif;">agentgaming533@gmail.com</a><br><br>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a> Questions:<br><a href="mailto:agentgamingesports.com@gmail.com" style="color: #e31c25; font-size: 13px; margin-left: 18px; font-family: 'Roboto', sans-serif;">agentgaming533@gmail.com</a><br><br>
            </div>
            <div class="bottomcontent" id="socials">
                <div class="header">
                    Socials
                </div>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a><a href="https://twitch.tv/agentggs" target="_blank"> Twitch</a><br><br>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a><a href="https://instagram.com/agent.ggs" target="_blank"> Instagram</a><br><br>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a><a href="https://twitter.com/agentggs" target="_blank"> Twitter</a><br><br>
                <a style="font-size: 15px; vertical-align: middle;">&#x25BA;</a><a href="https://youtube.com/c/agentgamingesports" target="_blank"> Youtube</a><br><br>
            </div>
            <div class="bottomcontent">
                <div class="header">
                    Other Information
                </div>
                <div class="container">
                    <a class="navlink bottomnavlink" href="https://agentgamingesports.com/">Home</a>
                    <a class="navlink bottomnavlink" href="https://agentgamingesports.com/">Team</a>
                    <a class="navlink bottomnavlink" href="https://agentgamingesports.com/">Shop</a>
                    <a class="navlink bottomnavlink" href="https://agentgamingesports.com/">Sponsors</a>
                    <a class="navlink bottomnavlink" href="https://agentgamingesports.com/">About</a>
                </div>
            </div><br>
            <a style="font-size: 10px; font-family: 'Roboto'; text-align: center; margin: 20px;">&copy; 2019 Agent Gaming eSports. All rights reserved. All product names, logos, and brands are property of their respective owners. All company, product and service names used in this website are for identification purposes only. Use of these names, logos, and brands does not imply endorsement.</a><br><br>
        </div>
    </body>
</html>